<div class="container">
  <mat-card>
    <form [formGroup]="registerForm">
      <h2>{{ title }}</h2>
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name" name="name" type="text" required>
        <mat-error>
          Nome inválido
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" name="email" type="text" required>
        <mat-error>
          E-mail inválido
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Senha" formControlName="password" name="password" type="password" required>
        <mat-error>
          Senha inválida
        </mat-error>
      </mat-form-field>
      <div>
        <a [routerLink]="['/login']" mat-button class="action-button-register">
          login
        </a>
        <button type="submit" (click)="onRegisterSubmit(registerForm.value)" mat-raised-button color="primary" [disabled]="!registerForm.valid">Cadastrar</button>
      </div>
    </form>
  </mat-card>

</div>
